.enemy {
  text-align: center;
  &__category {
    margin-bottom: 1px;
    background-color: rgba(0, 0, 0, 0.55);
    border: 1px;
    border-radius: 5px;
    font-family: "caxton";
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #20334c;
    text-shadow: #474747 1px 1px 0;
  }
  &__category--level4 {
    font-size: 22px;
    font-weight: bolder;
    color: #343434;
    text-shadow: #2e2c2c 1px 1px 0;
  }
  &__container {
    width: 150px;
    height: 250px;
    background-color: #393127;
    border: 5px #2f3a49;
    border-style: ridge inset inset ridge;
    border-radius: 5px;
    cursor: pointer;
  }
  &__container--level4 {
    background-color: #1e1912;
    border-color: #020c18;
  }
  &__name {
    font-family: "breathe-fire";
    font-weight: bold;
    text-transform: capitalize;
    color: #180e03;
    text-shadow: #3d3c3c 1px 1px 0;
    font-size: 20px;
  }
  &__name--level4 {
    color: #3a3938;
    text-shadow: #0c1e38 1px 1px 0;
  }
  &__image {
    height: 150px;
    border: 3px black solid;
    border-radius: 10px;
  }
  &__statsContainer {
    font-family: "gaze";
    color: cornsilk;
  }
  &__statsLife {
    color: #20334c;
  }
}
