.mainHomepage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
  background-image: url(../../Images/backA.png);
  text-align: center;
  color: cornsilk;
  &__gameTitle {
    font-size: 70px;
    font-family: "turok";
    color: #641414;
    text-shadow: 2px 2px 2px #4a0f0f;
  }
  &__gameCompany {
    font-family: "caxton";
    color: #7e6464;
  }
  &__gameSubtitle {
    margin-top: 15px;
    font-family: "caslon-antique.regular";
    font-style: italic;
    font-size: 25px;
  }
  &__button {
    padding: 5px 10px 3px 10px;
    background-color: transparent;
    border: 3px solid #6b2e2e;
    border-radius: 5px;
    font-family: "caslon-antique.regular";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color: #e9cece;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    padding: 0 30px;
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 0.5;
    }
    &__gameTitle {
      font-size: 90px;
    }
    &__gameCompany {
      font-size: 25px;
    }
    &__gameSubtitle {
      font-size: 35px;
    }
    &__button {
      padding: 10px 15px 5px 15px;
      border-width: 5px;
      font-size: 35px;
    }
  }
}
