.consumable {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 35px;
  width: 50px;
  background-color: #021202;
  // border: 5px #1e421e;
  // border-style: ridge inset inset ridge;
  border-top: 5px #1e421e ridge;
  border-right: 5px #1e421e groove;
  border-bottom: 5px #1e421e groove;
  border-left: 5px #1e421e ridge;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px #000000, 5px 5px 15px 5px rgba(84, 84, 84, 0);
  &__img {
    height: 20px;
  }
  &__number {
    display: inline;
    font-family: "gaze";
    color: cornsilk;
    font-size: 13px;
  }
}
