.combatLog {
  padding: 10px 0 20px 0;
  height: 100%;
  max-height: 90vh;
  background-color: rgba(0, 0, 0, 0.65);
  overflow: auto;

  &__title {
    text-align: center;
    font-family: "caxton";
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    color: rgb(87, 70, 7);
  }
  &__msg {
    padding: 0 10px;
    font-family: "caslon-antique.regular";
    font-size: 17px;
    list-style: none;
  }
  &__msg--playerTurn {
    padding-top: 10px;
    color: rgb(126, 60, 60);
  }
  &__msg--enemyTurn {
    color: rgb(63, 73, 87);
  }
  &__msg--attack {
    color: cornsilk;
  }
}
