.combatLog {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);

  &__tittle {
    font-family: "caxton";
    font-weight: bold;
  }
  &__msg {
    font-family: "caslon-antique.regular";
    list-style: none;
  }
  &__msg--playerTurn {
    color: rgb(241, 109, 109);
  }
  &__msg--enemyTurn {
    color: rgb(125, 125, 247);
  }
}
