.combatLog {
  padding: 10px 0 20px 0;
  height: 100%;
  max-height: 90vh;
  background-color: rgba(0, 0, 0, 0.65);
  overflow: auto;

  &__title {
    text-align: center;
    font-family: "caxton";
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #675305;
  }
  &__msg {
    padding: 0 10px;
    font-family: "caslon-antique.regular";
    font-size: 17px;
    list-style: none;
  }
  &__msg--playerTurn {
    padding-top: 10px;
    color: #903f3f;
    font-weight: bold;
  }
  &__msg--enemyTurn {
    color: rgb(63, 73, 87);
    font-weight: bold;
  }
  &__msg--attack,
  &__msg--consumable {
    color: cornsilk;
    text-align: justify;
    hyphens: auto;
  }
}
