.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% + 30px);
  background-color: rgba(0, 0, 0, 0.75);
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    max-width: 70%;
    border: 5px groove #4a0f0f;
    border-radius: 10px;
    background-color: white;
  }
  &__button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    font-size: 20px;
    color: #641414;
    cursor: pointer;
  }
}
#modal-root {
  z-index: 1;
}
