.main {
  display: grid;
  grid-template-columns: 65% 35%;
  min-height: 90vh;
  &--background1 {
    background-image: url(../../Images/back1.png);
    background-repeat: repeat;
  }
  &--background2 {
    background-image: url(../../Images/back2.jpg);
    background-size: 500px;
  }
  &--background3 {
    background-image: url(../../Images/back3.png);
  }
  &--background4 {
    background-image: url(../../Images/back4.jpg);
  }
  &__charactersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
.modalParagraph {
  text-align: center;
  font-family: "caslon-antique.regular";
  font-size: 25px;
  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}
