.main {
  min-height: 92vh;
  &__container {
    display: grid;
    grid-template-columns: 65% 35%;
  }
  &__charactersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
