.player {
  margin-top: 10px;
  width: 180px;
  height: 280px;
  background-color: rgb(102, 85, 64);
  border: 5px rgb(80, 97, 80) ridge;
  text-align: center;

  &__name {
    font-family: "breathe-fire";
    font-weight: bold;
    text-transform: capitalize;
    color: #180e03;
  }
  &__image {
    height: 190px;
    border: 3px black solid;
    border-radius: 10px;
  }
  &__statsContainer {
    font-family: "gaze";
    color: cornsilk;
  }
}
