.player {
  margin-top: 10px;
  width: 150px;
  height: 250px;
  background-color: #393127;
  border: 5px #532121;
  border-style: ridge inset inset ridge;
  text-align: center;

  &__name {
    font-family: "breathe-fire";
    font-weight: bold;
    text-transform: capitalize;
    color: #180e03;
    text-shadow: #3d3c3c 1px 1px 0;
    font-size: 20px;
  }
  &__image {
    height: 150px;
    border: 3px black solid;
    border-radius: 10px;
  }
  &__statsContainer {
    font-family: "gaze";
    color: cornsilk;
  }
}
